/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*MY CODE*/

/*index*/

a {
  text-decoration: none;
  color: #3D3C3C;
}

button {
  cursor: pointer;
}

.top-wrapper {
  width: 100%;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  height: 150px;
}

.index-title {
  padding-left: 50px;
  padding-top: 20px;
  display: inline-block;
}

.MIBS {
  float: none;
  margin-right: 30%;
  text-align: center;
  height: 122px;
  width: 288px;
}

.our-research-button {
  display: none;
}

.our-people-button {
  display: none;
}

.partnerships-button {
  display: none;
}

.contact-us-button {
  display: none;
}

.index-menu {
  float: right;
  border-color: #707070;
  width: 150px;
  height: 150px;
  display: inline-block;
  border-left-color: #707070;
  border-left-style: solid;
  border-left-width: 4px;
  text-align: center;
}

.menu-right{
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mobile-flask-icon {
  display: inline-block;
  height: 95px;
  margin-right: 30px;
}

.mobile-flask {
  display: inline-block;
  margin-left: 0%;
}

.menu-box {
  margin: 0 auto;
  width: 150px;
}

.bar1, .bar2, .bar3 {
  width: 100px;
  height: 7px;
  background-color: #333;
  margin: 30px auto;
  transition: 0.4s;
  text-align: center;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-39px, 35px);
  transform: rotate(-45deg) translate(-39px, 35px);
  text-align: center;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-15px, -15px);
  transform: rotate(45deg) translate(-15px, -15px);
  text-align: center;
}

.menu-icon {
  height: 122px;
  padding-top: 10px;
}

.index-welcome {
  width: 100%;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.welcome {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 42px;
  font-weight: 350;
  font-family: Segoe UI;
  line-height: 70px;
  color: #3D3C3C;
  text-align: center;
  margin: 0 auto;
}

.desktop-welcome-break {
  display: none;
}

.slideshow-pics {
  display: none;
  width: 100%;
}

.lab-photo {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100%;
  height: auto;
}

.slideshow-controls {
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-top-color: #707070;
  border-top-style: solid;
  border-top-width: 4px;
  height: 40px;
  width: 100%;
}

.slideshow-controls button {
  display: inline-block;
  float: left;
  height: 40px;
}

.line {
  width: 4px;
  background-color: #707070;
  height: 40px;
  display: inline-block;
  float: left;
}

.slideshow-controls button:hover {
  background-color: #9EBDCC;
  opacity: 1.25;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.control-box1 {
  opacity: 0.25;
  width: calc(25% - 4px);
  background-color: #C5ECFF;
  cursor: pointer;
  display: block;
}

.control-box2 {
  opacity: 0.5;
    width: calc(25% - 4px);
  background-color: #C5ECFF;
  cursor: pointer;
}

.control-box3 {
  opacity: 0.75;
  width: calc(25% - 4px);
  background-color: #C5ECFF;
  cursor: pointer;
}

.control-box4 {
    width: calc(25%);
  opacity: 0.75;
    background-color: #73C8F2;
  cursor: pointer;
}

.description {
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.description h3 {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  font-family: Segoe UI;
  word-spacing: 1px;
  line-height: 25px;
  color: #3D3C3C;
  text-align: center;
}

.footer-container {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.footer-container ul {
  height: 200px;
  list-style-type: none;
}

.contact-info {
  padding-top: 5px;
  padding-left: 40px;
  font-family: Segoe UI;
  color: #3D3C3C;
  text-align: left;
  background-color: #C5ECFF;
  width: 75%;
  float: left;
  font-weight: 350;
  height: 301px;
  border-right-color: #707070;
  border-right-style: solid;
  border-right-width: 4px;
}

.contact-info h3 {
  font-size: 40px;
  font-weight: 400;
  word-spacing: 2px;
  line-height: 65px;
}

.contact-info ul {
  font-size: 24px;
  word-spacing: 2px;
  line-height: 40px;
  padding-bottom: 20px;
}

.footer-buttons h2 {
  display: none;
}

.footer-buttons{
  display: flex;
  flex-direction: column;
}

.share-button {
  float: right;
  width: 200px;
  height: 153px;
  vertical-align: top;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.to-top-button {
  width: 200px;
  height: 153px;
  vertical-align: bottom;
  float: right;
}

.share-icon {
  padding-top: 20px;
  width: 100px;
  height: 120px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.to-top-icon {
  padding-top: 0px;
  width: 100px;
  height: 120px;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}

.to-top-button {
  text-align: center;
}

#to-top-btn-2 {
  display: none;
}

#to-top-btn {
  padding-top: 20px;
  width: 100px;
  height: 120px;
  display: inline;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border: none !important;
  font-size: 0;
}

#to-top-btn:hover {
  background-color: #555;
}

.recent-projects {
  display: none;
}


/* Homepage Desktop Adjustments */

@media only screen and (min-width: 1000px) {
  .top-wrapper {
    border-bottom-width: 1.5px;
    height: 72px;
    text-align: center;
    border-bottom-width: 1px;
  }
  .top-wrapper h1 {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
  }
  .index-title {
    width: 200px;
    text-align: center;
    display: inline-block;
  }
  .MIBS {
    height: 46px;
    width: 110px;
    text-align: center;
  }
  .MIBS:hover {
    margin-top: -9px;
  }
  .our-research-button {
    display: inline-block;
    float: left;
    margin-left: 5%;
    margin-top: 14px;
    height: auto;
    width: auto;
  }
  .our-research-button:hover .flask-icon {
    margin-top: -7.2px;
    margin-bottom: 10.8px;
  }
  .our-people-button {
    display: inline-block;
    float: left;
    margin-left: 10%;
    margin-top: 14px;
  }
  .our-people-button:hover .people-icon {
    margin-top: -7.2px;
    margin-bottom: 10.8px;
  }
  .partnerships-button {
    display: inline-block;
    float: right;
    margin-top: 14px;
    margin-right: 10%;
  }
  .partnerships-button:hover .shake-icon {
    margin-top: -7.2px;
    margin-bottom: 10.8px;
  }
  .contact-us-button {
    display: inline-block;
    float: right;
    margin-top: 14px;
    margin-right: 5%;
  }
  .contact-us-button:hover .phone-icon {
    margin-top: -7.2px;
    margin-bottom: 10.8px;
  }
  .flask-icon {
    height: 28.8px;
  }
  .people-icon {
    height: 28.8px;
  }
  .shake-icon {
    height: 28.8px;
  }
  .phone-icon {
    height: 28.8px;
  }
  .index-menu {
    width: 0px;
    height: 0px;
    border-left: none;
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .index-welcome {
    border-bottom-width: 1px;
  }
  .welcome {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 28.8px;
  }
  .welcome-break {
    display: none;
  }
  .desktop-welcome-break {
    display: inline-block;
  }
  .slideshow-pics {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .lab-photo {
    width: 70%;
    padding-bottom: 0px;
    padding-top: 10px;
    height: auto;
  }
  .slideshow-controls {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 18px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: -2.5px;
    border-left-color: #707070;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #707070;
    border-right-style: solid;
    border-right-width: 1px;
  }
  .slideshow-controls button {
    height: 18px;
  }

  .line {
    width: 1px;
    height: 18px;
  }
  .control-box1 {
    width: calc(25% - 1px);
  }
  .control-box2 {
    width: calc(25% - 1px);
  }
  .control-box3 {
    width: calc(25% - 1px);
  }
  .control-box4 {
    width: calc(25% - 1px);
  }
  .description {
    border-bottom-color: #707070;
    border-bottom-style: none;
    border-bottom-width: 1.5px;
  }
  .description h3 {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 30px;
    color: #3D3C3C;
  }
  .footer-container {
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-info {
    padding-top: 5px;
    padding-left: 0%;
    color: #3D3C3C;
    text-align: left;
    background-color: #C5ECFF;
    width: 37%;
    height: 150px;
    border-right-color: #707070;
    border-right-style: solid;
    border-right-width: 1px;
  }
  .contact-info h3 {
    font-size: 20px;
    word-spacing: 2px;
    line-height: 40px;
    padding-left: 10%;
  }
  .contact-info ul {
    font-size: 16px;
    word-spacing: 2px;
    line-height: 20px;
    padding-bottom: 10px;
    padding-left: 10%;
    height: auto;
  }
  .footer-buttons {
    height: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 26%;
    height: 155px;
  }
  .footer-buttons h2 {
    font-size: 30px;
    word-spacing: 2px;
    line-height: 40px;
    font-family: Segoe UI;
    display: inline-block;
    text-align: center;
    margin: none;
    font-weight: 50;
    color: #3D3C3C;
  }
  .share-button {
    float: none;
    height: 155px;
    border-bottom-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left-color: #707070;
    border-left-style: solid;
    border-left-width: 1px;
  }
  .share-button:hover {
    background-color: #F1F1F1;
  }
  .to-top-button {
    display: none;
  }
  .to-top-button2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .share-icon {
    padding-top: 0px;
    margin: 0;
    width: 80px;
    display: inline-block;
    text-align: center;
  }
  #to-top-btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;
    width: 50%;
    float: left;
    border-left-style: none;
    vertical-align: none;
    background: transparent;
    border: none !important;
    font-size: 0;
    cursor: pointer;
  }
  #to-top-btn-2:hover {
    background-color: #F1F1F1;
  }
  #to-top-btn {
    display: none;
  }
  .recent-projects {
    display: inline-block;
    font-family: Segoe UI;
    color: #3D3C3C;
    padding-top: 5px;
    background-color: #C5ECFF;
    font-weight: 350;
    width: 37%;
    height: 155px;
    border-left-color: #707070;
    border-left-style: solid;
    border-left-width: 1px;
  }
  .recent-projects h3 {
    font-weight: 350;
    font-size: 20px;
    word-spacing: 2px;
    line-height: 40px;
    padding-left: 5%;
  }
  .recent-projects ul {
    font-size: 16px;
    word-spacing: 2px;
    line-height: 20px;
    padding-bottom: 10px;
    margin-left: 5%;
    height: auto;
  }
  /*Styling for our-research*/
}

/*Styling for our-research page*/

.page-title {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: 350;
  font-family: Segoe UI;
  line-height: 70px;
  color: #3D3C3C;
  text-align: center;
  margin: 0 auto;
}

.cb1 {
  opacity: 0;
  width: 16.3%;
  background-color: #C5ECFF;
  cursor: pointer;
  display: inline-block;
}

.cb2 {
  opacity: 0;
  width: calc(16.6% - 4px);
  background-color: #C5ECFF;
  cursor: pointer;
  display: inline-block;
}

.cb3 {
  opacity: 0.25;
  width: calc(16.6% - 4px);
  background-color: #C5ECFF;
  cursor: pointer;
  display: inline-block;
}

.cb4 {
  opacity: 0.5;
  width: calc(16.6% - 4px);
  background-color: #C5ECFF;
  cursor: pointer;
  display: inline-block;
}

.cb5 {
  opacity: 0.75;
  width: calc(16.6% - 4px);
  background-color: #73C8F2;
  cursor: pointer;
  display: inline-block;
}

.cb6 {
  opacity: 1;
    width: calc(16.6%);
  background-color: #4CAFDF;
  cursor: pointer;
}

.research-description {
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  display: none;
}

.research-description h2 {
  padding-top: 30px;
  font-size: 35px;
  font-weight: 450;
  font-family: Segoe UI;
  word-spacing: 1px;
  line-height: 60px;
  color: #3D3C3C;
  text-align: center;
}

.research-description h3 {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  font-family: Segoe UI;
  word-spacing: 1px;
  line-height: 25px;
  color: #3D3C3C;
  text-align: center;
}

/*Styling for our-people page*/

.mobile-users-icon {
  display: inline-block;
  height: 95px;
  margin-right: 40px;
}

.mobile-users {
  display: inline-block;
}

#mobile-l-btn {
  display: inline-block;
  float: left;
  margin-left: 3%;
  padding-top: 20px;
  display: inline;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border: none !important;
  font-size: 0;
}

#mobile-r-btn {
  display: inline-block;
  margin-right: 3%;
  padding-top: 20px;
  text-align: center;
  background: transparent;
  border: none !important;
  font-size: 0;
  float: right;
}

.mobile-left-button {
  display: inline;
  float: left;
  margin-top: 300px;
  margin-left: 1%;
}

.mobile-right-button {
  display: inline;
  float: right;
  margin-top: 300px;
  margin-right: 1%;
}

.our-people-flex2 {
  display: none;
}

.mobile-r-icon {
  display: inline-block;
  height: 150px;
}

.mobile-l-icon {
  display: inline-block;
  height: 150px;
}

.portrait {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 700px;
}

.people-description1 {
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  display: none;
}

.people-description1 h2 {
  padding-top: 0px;
  font-size: 35px;
  font-weight: 350;
  font-family: Segoe UI;
  word-spacing: 1px;
  line-height: 50px;
  color: #3D3C3C;
  text-align: center;
}

.people-description1 h3 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  font-family: Segoe UI;
  word-spacing: 1px;
  line-height: 25px;
  color: #3D3C3C;
  text-align: center;
}

.our-people-flex-container-desktop {
  display: none;
}

.desktop-left-button {
  display: none;
}

.desktop-right-button {
  display: none;
}

.slideshow-pics1 {
  display: none;
  text-align: center;
  width: 100%;
}

.slideshow-pics2 {
  display: none;
}

/*Styling for partnerships page*/
.bottom-partnership-container{
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
.mobile-handshake-icon {
  display: inline-block;
  height: 95px;
  margin-right: 40px;
}

.mobile-handshake {
  display: inline-block;
}

.partnership-logos {
  text-align: center;
}

.partnership-banners {
  display: block;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
  width: 80%;
}
.ontario-banner{
  display: block;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
  width: 90%;
}
.stMarys-banner{
  display: inline-block;
  padding: 0px;
  margin: none;
  width: 65%;
  padding-bottom: 30px;
}

/*Styling for contacts page*/

.contact-us {
  height: 100%;
}

.contact-recent-projects {
  display: none;
}

.contact-people{
  display: none;
}

.contact-list {
  background-color: #3D3C3C;
  height: calc(100% - 270px);
}

.contacts {
  display: flex;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  width: 100%;
  height: 25%;
  align-items: center;
}

.map-symbol {
  width: 150px;
}

.envelope-symbol {
  width: 150px;
}

.phone-symbol {
  width: 150px;
}

.mibs-symbol {
  width: 250px;
}

.contact-list h2 {
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  font-family: Segoe UI;
  word-spacing: 1px;
  line-height: 60px;
  text-align: center;
}

.contacts-symbol {
  width: 25%;
  display: inline-block;
  height: auto;
  padding-left: 8%;
}

.mibs-contacts-symbol {
  width: 25%;
  display: inline-block;
  height: auto;
  padding-left: 3%;
}

.contacts-text1 {
  display: inline-block;
  width: 75%;
}

.contacts-text2 {
  display: inline-block;
  width: 75%;
}

.contacts-text3 {
  display: inline-block;
  width: 75%;
}

.contacts-text4 {
  display: inline-block;
  width: 75%;
}

.mobile-phone-icon {
  display: inline-block;
  height: 95px;
  margin-right: 50px;
}

.mobile-phone {
  display: inline-block;
}

/*Styling for share page*/

#non-menu2 {
  height: 100%;
}

.mobile-phone-icon {
  display: inline-block;
  height: 95px;
}

.share-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc( 100% - 572.6px);
}

.left {
  width: 50%;
  display: inline-block;
}

.right {
  width: 50%;
  display: inline-block;
}

.share-icon-list {
  width: 250px;
}

#fbBtn{
  width: 50%;
  display: inline-block;
}

.last-share-icon {
  width: 250px;
  margin-top: 0px
}

.contact-info-share {
  padding-top: 5px;
  padding-left: 0px;
  font-family: Segoe UI;
  color: #3D3C3C;
  text-align: center;
  background-color: #C5ECFF;
  width: 100%;
  float: left;
  font-weight: 350;
  height: 300px;
  border-top-color: #707070;
  border-top-style: solid;
  border-top-width: 4px;
}

.contact-info-share h3 {
  font-size: 40px;
  font-weight: 400;
  word-spacing: 2px;
  line-height: 65px;
}

.contact-info-share ul {
  font-size: 24px;
  word-spacing: 2px;
  line-height: 43px;
  padding-bottom: 20px;
}

/*Styling for menu*/

.menu-title {
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  background-color: rgba(186, 194, 209, .55);
  height: 125px;
}

.page-title2 {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 70px;
  font-weight: 400;
  font-family: Segoe UI;
  line-height: 70px;
  color: #3D3C3C;
  text-align: center;
  margin: 0 auto;
}

.link-banner {
  display: block;
  background-color: #3D3C3C;
  margin-top: 80px;
  height: 200px;
}

.menu-icons {
  height: 150px;
  margin-top: 20px;
}

.link-banner h2 {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-left: 15%;
  font-size: 70px;
  font-weight: 400;
  font-family: Segoe UI;
  line-height: 70px;
  color: #FFF;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}

.icon-square {
  background-color: #FFF;
  display: inline-block;
  width: 200px;
  height: 196px;
  float: right;
  text-align: center;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-top-color: #707070;
  border-top-style: solid;
  border-top-width: 2px;
}

.menu-text {
  float: left;
}

#menu {
  display: none;
}

#non-menu {
  display: block;
}

  @media only screen and (min-width: 1000px) {
    /*our research */
    .mobile-flask-icon {
      display: none;
    }
    .page-title {
      padding-top: 9px;
      padding-bottom: 9px;
      width: 100%;
      font-size: 40px;
      font-weight: 350;
      line-height: 60px;
    }
    .cb1 {
      width: calc(16.67% - 1px);
    }
    .cb2 {
      opacity: 0;
      width: calc(16.67% - 1px);
    }
    .cb3 {
      width: calc(16.67% - 1px);
    }
    .cb4 {
      width: calc(16.67% - 1px);
    }
    .cb5 {
      width: calc(16.67% - 1px);
    }
    .cb6 {
      width: calc(16.67% - 1px);
    }
    .research-description {
      border-bottom-width: 0px;
    }
    .research-description h2 {
      font-size: 35px;
      line-height: 50px;
      font-weight: 450;
      padding-top: 10px;
      color: #3D3C3C;
      padding-left: 15%;
      padding-right: 15%;
    }
    .research-description h3 {
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 20px;
      margin-left: 12%;
      margin-right: 12%;
      font-size: 16px;
      font-weight: 400;
      word-spacing: 1px;
      line-height: 30px;
      color: #3D3C3C;
    }
    /*our people */
    .mobile-users {
      display: none;
    }
    .mobile-right-button {
      display: none;
    }
    .mobile-left-button {
      display: none;
    }
    #desktop-l-btn {
      display: inline-block;
      width: 100px;
      height: 120px;
      background: transparent;
      border: none !important;
      font-size: 0;
    }
    #desktop-r-btn {
      display: inline-block;
      text-align: center;
      background: transparent;
      border: none !important;
      font-size: 0;
    }
    .our-people-flex-container {
      display: none;
    }
    .our-people-flex-container-desktop {
      display: block;
    }
    .our-people-flex-conatiner {
      display: none;
    }
    .our-people-pic {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 0px;
      align-items: center;
      justify-content: center;
    }
    .slideshow-pics2 {
      width: 45%;
      margin: none;
      display: none;
      border-right-color: #BAC2D1;
      border-right-style: solid;
      border-right-width: 0.75px;
      text-align: center;
    }
    .slideshow-pics3 {
      width: auto;
      margin: none;
      display: none;
      width: 45%;
      text-align: center;
      border-left-color: #BAC2D1;
      border-left-style: solid;
      border-left-width: 0.75px;
    }
    .desktop-left-button {
      display: inline-block;
      width: 5%;
      text-align: center;
    }
    .spacer {
      width: 5%;
    }
    .desktop-right-button {
      display: inline-block;
      width: 5%;
      text-align: center;
    }
    .desktop-r-icon {
      display: inline-block;
      height: 100px;
    }
    .desktop-l-icon {
      display: inline-block;
      height: 100px;
    }
    .portrait {
      padding-top: 0px;
      height: 450px;
      padding-bottom: none;
      margin-top: 50px;
    }
    .footer-container {
      border-top-color: #707070;
      border-top-style: solid;
      border-top-width: 1.5px;
    }
    .our-people-title {
      padding-top: 0px;
      font-size: 30px;
      font-weight: 300;
      font-family: Segoe UI;
      word-spacing: 1px;
      line-height: 40px;
      color: #3D3C3C;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-top: -20px;
      border-bottom-color: #BAC2D1;
      border-bottom-style: solid;
      border-bottom-width: 1.5px;
    }
    .our-people-text {
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 20px;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .people-title {
      width: 45%;
      display: none;
      text-align: center;
      border-right-color: #BAC2D1;
      border-right-style: solid;
      border-right-width: 0.75px;
      padding-bottom: 20px;
    }
    .people-title h2{
        font-weight: 400;
    }
    .people-title2 {
      width: 45%;
      display: none;
      text-align: center;
      border-left-color: #BAC2D1;
      border-left-style: solid;
      border-left-width: 0.75px;
      padding-bottom: 20px;
    }
    .people-title2 h2{
        font-weight: 400;
    }
    .people-description2 {
      border-bottom-width: 0px;
      display: none;
      width: 45%;
      height: 100%;
      padding: 0px;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center;
      font-family: Segoe UI;
      border-right-color: #BAC2D1;
      border-right-style: solid;
      border-right-width: 0.75px;
    }
    .people-description2 h3{
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: 400;
      word-spacing: 1px;
      line-height: 30px;
      color: #3D3C3C;
    }
    .people-description3 h3{
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: 400;
      word-spacing: 1px;
      line-height: 30px;
      color: #3D3C3C;
    }
    .our-people-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0px;
    }
    .people-description3 {
      display: none;
      width: 45%;
      height: 100%;
      padding: 0px;
      margin-left: 0%;
      margin-right: 0%;
      color: #3D3C3C;
      text-align: center;
      font-family: Segoe UI;
      border-left-color: #BAC2D1;
      border-left-style: solid;
      border-left-width: 0.75px;
    }
    /*partnerships*/
    .partnership-logos{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
    }
    .partnership-container{
      width: 40%;
    }
    .bottom-partnership-container{
      width: 40%;
      border: none;
    }
    .partnership-banners {
      display: inline-block;
      padding: 0px;
      margin: none;
      width: 80%;
    }
    .ontario-banners{
      display: inline-block;
      padding: 0px;
      margin: none;
      width: 90%;
    }
    .mobile-handshake {
      display: none;
    }
    /*contact us*/
    .mobile-phone {
      display: none;
    }
    .contact-list {
      height: calc( 100% - 151px);
      display: flex;
      flex-flow: wrap;
      align-items: center;
    }
    .contacts {
      border-color: #707070;
      border-style: solid;
      border-width: 1.5px;
      height: calc(50% - 3px);
      width: calc(50% - 3px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .map-symbol {
      height: 100px;
      margin-top: 30px;
      width: auto;
    }
    .envelope-symbol {
      width: auto;
      height: 100px;
    }
    .phone-symbol {
      width: auto;
      height: 100px;
    }
    .mibs-symbol {
      height: 100px;
      width: auto;
    }
    .contact-list h2 {
      color: #FFF;
      font-size: 24px;
      font-weight: 400;
      font-family: Segoe UI;
      word-spacing: 1px;
      line-height: 30px;
      text-align: center;
      margin: none;
      display: inline-block;
      float: none;
      width: 100%;
    }
    .contacts-symbol {
      width: auto;
      height: auto;
      padding-left: 0;
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }
    .contacts-text1 {
      width: 90%;
      height: auto;
    }
    .contacts-text2 {
      height: auto;
      display: flex;
      align-items: center;
    }
    .contacts-text3 {
      display: flex;
      align-items: center;
      height: auto;
    }
    .contacts-text4 {
      height: auto;
      margin-top: 5px;
      display: flex;
      align-items: center;
    }
    .mibs-contacts-symbol {
      display: flex;
      align-items: center;
      text-align: center;
      width: auto;
      height: 50%;
      padding-top: 0%;
      padding-left: 0%;
    }
    .mobile-break {
      display: none;
    }
    /*share styling*/
    .mobile-phone {
      display: none;
    }
    #non-menu2 {
      height: 100%;
    }
    .share-div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: calc( 100% - 151px);
      border-color: #707070;
      border-style: none;
      border-width: 1px;
    }
    .left {
      width: 33%;
      display: inline-block;
    }
    .right {
      width: 33%;
      display: inline-block;
    }
    .share-icon-list {
      width: 200px;
      text-align: center;
    }
    #fbBtn{
      width: 33%;
      display: inline-block;
    }
    .last-share-icon {
      width: 200px;
      margin-top: 30px
    }
    .contact-info-share {
      padding-top: 5px;
      padding-left: 0px;
      font-family: Segoe UI;
      color: #3D3C3C;
      text-align: center;
      background-color: #C5ECFF;
      font-weight: 350;
      height: 150px;
      border-top-style: none;
    }
    .contact-info-share h3 {
      font-size: 20px;
      font-weight: 400;
      word-spacing: 2px;
      line-height: 65px;
    }
    .share-footer-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
    .contact-people{
      display: flex;
      padding-top: 5px;
      font-family: Segoe UI;
      color: #3D3C3C;
      text-align: left;
      background-color: #C5ECFF;
      width: 100%;
      float: left;
      font-weight: 350;
      height: 150px;
      border-top-style: none;
      margin-right: 20px;
      flex-direction: column;
      align-items: flex-end;
    }
    .contact-people ul{
      font-size: 16px;
      word-spacing: 2px;
      line-height: 20px;
      padding-bottom: 10px;
      height: auto;
    }
    .contact-recent-projects {
      display: inline-block;
      padding-top: 5px;
      font-family: Segoe UI;
      color: #3D3C3C;
      text-align: left;
      background-color: #C5ECFF;
      width: 100%;
      font-weight: 350;
      height: 150px;
      border-top-style: none;
      margin-left: 0px;
      margin-right: 0px;
    }
    .contact-recent-projects ul {
      font-size: 16px;
      word-spacing: 2px;
      line-height: 20px;
      padding-bottom: 10px;
      margin-left: 5%;
      height: auto;
    }
    .contact-info-share ul {
      font-size: 20px;
      word-spacing: 2px;
      line-height: 30px;
      padding-bottom: 20px;
    }
    .share-footer-container {
      border-top-color: #707070;
      border-top-style: solid;
      border-top-width: 1.5px;
      height: 155px;
      display: flex;
      background-color: #C5ECFF;
    }
    .share-footer-container ul {
      list-style-type: none;
    }
    .contact-recent-projects h3 {
      font-weight: 400;
      font-size: 20px;
      word-spacing: 2px;
      line-height: 40px;
      margin-left: 5%;
    }
    .contact-people h3 {
      font-weight: 400;
      font-size: 20px;
      word-spacing: 2px;
      line-height: 40px;
      margin-right: 290px;
    }
    .contact-info-share {
      padding-top: 5px;
      padding-left: 0%;
      color: #3D3C3C;
      text-align: center;
    }
    .contact-info-share h3 {
      font-size: 20px;
      word-spacing: 2px;
      line-height: 40px;
      padding-left: 0%;
    }
    .contact-info-share ul {
      font-size: 16px;
      word-spacing: 2px;
      line-height: 20px;
      padding-bottom: 10px;
      padding-left: 0%;
      height: auto;
    }
  }
